{% extends "auctions/layout.html" %}

{% block title %}
    Create New Listing
{% endblock %}

{% block body %}
    <h2>Create New Listing</h2>
    
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        
        {{ form.as_p }}

        <div class="form-group">
            <input type="submit" value="Create Listing" class="btn btn-primary">
        </div>
    </form>
    {% if message %}
    <p class="text-danger">{{ message }}</p>
    {% endif %}
{% endblock %}
